/*Estilizado general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #0A2440;       
    width: 100%;
    height: 100px;
    display: flex;
}
.barraNav{
    display: flex;
    align-items: center;
}
.barraNav .logo img{
    width: 180px;
    align-items: center;
    margin: 10px 150px 0;
    display: flex;
}
.inicio{
    align-items: center;
    display: flex;
}
/*Estilizado barra de icono */
.iconInicio{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}
.iconInicio a{
    text-align: center;
    color: white;
    padding: 800px;
    font-size: 40px;
}
li{
    margin-right: 100px; 
    display: flex;
}
.containerNameAndCard {  
    text-align: center;
    min-height: 250px;
}
h1{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
    font-weight: 300;
    font-size: 41px;
    font-weight: lighter;
}
.containerNameAndCard p{
    font-size: 15px; 
    text-align: left;
    padding-left: 520px;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
}
.containerNameAndCard #client{
    font-size: 18px;
    color: #747474;
    border-right: white;
    border-left: white;
    border-top: white;
    min-width: 480px;
    min-height: 50px;
    background: rgba(196, 196, 196, 0.8);
    padding-left: 15px;
}
.containerNameAndCard #cardNumber{
    font-size: 18px;
    color: #747474;
    border-right: white;
    border-left: white;
    border-top: white;
    min-width: 480px;
    min-height: 50px;
    background: rgba(196, 196, 196, 0.8);
    padding-left: 15px;
}
.mensajesValidacion{
    color: #237aba;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
}
.mensajesInvalidacion{
    color: #400c0a;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.botones{ 
    
    justify-content: space-around;
}
.botones .validarOtraVez{
    font-size: 15px;
    width: 128px;
    height: 48px;
    background: #237aba;
    border: 0;
    color: #fffefe;
    font-weight: 700;
    filter: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    box-shadow: -1px 0px 19px -3px rgba(31, 31, 31, 0.86);
    float: center;
    margin-left: 70px;
    justify-content: center;
    border-radius: 3px;
}
.botones .btnValidar{
    font-size: 15px;
    width: 128px;
    height: 48px;
    background: #237aba;
    border: 0;
    color: #fffefe;
    font-weight: 700;
    filter: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    box-shadow: -1px 0px 19px -3px rgba(31, 31, 31, 0.86);
    float: center;
    margin-right: 70px;
    justify-content: center;
    border-radius: 3px;
}
footer{
    text-align: center;
    background: #0A2440;       
    width: 100%;
    height: 100px;
    display: flex; 
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.piePagina{
    align-items: center;
    justify-content: center;
    font-size: 12px;
    display: flex;
}
.piePagina p{
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: right;
    display: flex;
    padding-right: 20px;
}
.piePagina li{
    align-items: center;
    justify-content: center;
    display: flex;
}
.piePagina a{
    color: white;
    font-size: 20px;
}
